@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Những class áp dụng nhiều lần: */
/* ct = custom */
/* tud = tranuyendev */
.ct-top-menu-expanded {
  @apply absolute top-10 z-50 w-full bg-white text-center animate-slideDown;
}

.ct-top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

/* Active */
.ct-top-menu-item-active {
  @apply text-gray-800;
}

.tud-icon {
  @apply w-5 h-5 inline-block;
}

.tud-badge-circle {
  @apply text-xs text-center rounded-full px-1.5;
}

.tud-subheadline {
  @apply flex justify-center items-center mb-24;
}

.tud-subheadline-deco-line {
  @apply w-8 h-px bg-gray-200;
}

.tud-subheadline-label {
  @apply mx-4 uppercase tracking-widest text-gray-500 font-medium text-xs text-center;
}

.tud-button {
  @apply text-center uppercase tracking-wider py-4 px-8 text-[13px] font-semibold cursor-pointer hover:bg-opacity-95;
}

.tud-parallax,
.tud-no-parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
.tud-parallax {
  height: 40vh;
  margin-bottom: 10px;
}
.tud-no-parallax {
  height: auto;
  z-index: 999;
  background: white;
}
.tud-parallax-image {
  position: absolute;
  width: 100%;
  height: 100%;
  /* ... */
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 1280px) {
  .tqd-parallax {
    height: 70vh;
    transform-style: preserve-3d;
  }
  .tqd-parallax-image {
    transform: translateZ(-1px) scale(1.5);
  }
}
